.ml-auto {
  margin-left: auto;

  .save-product-btn {
    margin-right: 30px;
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    box-sizing: border-box;
    background-color: #e5e5e5;
    color: black;
    text-decoration: none;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: black;
    border-image: initial;
    cursor: pointer;
    height: 24px;
  }
}

.cancel-product-btn {
  appearance: auto;
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  box-sizing: border-box;
  background-color: #e5e5e5;
  color: black;
  text-decoration: none;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: black;
  border-image: initial;
  cursor: pointer;
}

.form-group {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  width: 30%;
  margin-top: 0;

  .label {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 700;
    font-size: 1rem;
    color: #495057;
    line-height: 1.5;
    min-width: 200px;
  }

  .form-control {
    display: block;
    max-width: 100%;
    padding: 0.375rem 0.75rem;
    margin-left: 10px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}

.notice {
  color: red;
  font-size: 12px;
  margin-left: 10px;
}

.mt-3 {
  margin-top: 20px;
}

#size {
  font-weight: normal;
}

#weight {
  font-weight: normal;
}

#height {
  font-weight: normal;
}
